<!DOCTYPE html> 
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>コーディネート診断スタート</title>
    </head>
    <div class="picture">
    <image src="../../../assets/perfumestop.jpg" class="perfumestop">
    <div class="absolute_test">
    <body>
        <header>
            <h1 class="headline">
            <a>Today's coordinate</a>
            </h1>
            <p>
            〜その日の気分に合わせたコーディネートを〜
            </p>
        </header>

        <div class="start">
            <h6>Are you ready?</h6>
            <%= link_to "診断スタート", new_perfume_path, class: "link" %>
        </div>
    </body>
    </div>
    </div>